title {
    display: none;
}

html, body, section {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.col {
    display: inline-block;
    height: 400px;
    width: 100%;
}

/*.col-l-33 {
    display: inline-block;
    height: 400px;
    width: 33%;
}

.col-m-50 {
    display: inline-block;
    height: 400px;
    width: 50%;
}*/


/* TAMAÑO S */
@media all and (max-width: 450px) {
    .col-s-20 {
        width: 49%;
        height: 150px;
    }
}

/* TAMAÑO M */
@media all and (min-width: 450px) and (max-width: 800px) {
    .col-m-33 {
        width: 32%;
        height: 150px;
    }
}

/* TAMAÑO L */
@media all and (min-width: 801px) {
    .col-l-20 {
        width: 19%;
        height: 150px;
    }
}